<%= form_with model: article do |form| %>
  <div>
    <%= form.label :tittle %><br>
    <%= form.text_field :tittle %>
    
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>



